/* ---------------------------------
variables 変数を定義 適宜変更していく プロジェクトによって変更
--------------------------------- */
$site-width: 1024px;

$color_dark100: #272B2D;
$color_dark075: #8B98A2;
$color_dark050: #C9D0D6;
$color_dark025: #E7EAEC;

$color_light100: rgba(255,255,255,1.00);
$color_light070: rgba(255,255,255,0.70);
$color_light030: rgba(255,255,255,0.30);
$color_light012: rgba(255,255,255,0.12);

$color_main: #B8DDF7;
$color_body: #eee;
$color_accent: #FFCCBA;
$color_base: #4aa2ef;
$color_base--sub: #F8FCFF;
$color_base--text:#7aafde;
$color_link:#fff;//aリンク文字
$color_err: #FF0A0A;
$color_gradation:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
//変数の名前を決める

$font-color_default: $color_dark100;
$font-color_inverted: $color_light100;
$font-color_link: $color_base--sub;

$font-size_xs: 1.2rem;//12px
$font-size_s: 1.4rem;//14px
$font-size_m: 1.6rem;//16px mがデフォルト
$font-size_l: 1.8rem;
$font-size_xl: 2rem;
$font-size_2l: 2.4rem;
$font-size_3l: 2.8rem;
$font-size_4l: 3.2rem;
$font-size_5l: 3.6rem;
$font-size_6l: 4rem;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_2l: 25px;
$space_3l: 30px;
$space_4l: 40px;
$space_5l: 50px;
$space_6l: 60px;
$space_7l: 70px;
$space_8l: 80px;

$font-family_default:Quicksand, 游ゴシック体,
"Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro",
"Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka,
"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-family_custom: 'Noto Sans JP', sans-serif;
$font-family_accent: 'Dancing Script', cursive;
